/* .App {

} */

.App #table {
  width: 1400px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: table;
  white-space: normal;
  line-height: normal;
  box-sizing: border-box;
  border-spacing: 0;
  padding-top: 20px;
}

.App .header {
  padding: 20px;
  background: #00003f;
  color: white;
  justify-content: flex-start;
  flex-direction: row;
}

.App .header .title {
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
  font-size: 30px;
  padding-right: 25px;
  color: white;
}

.App .header .buttons {
  display: inline-block;
}

.App #button-BFS {
  background-color: #2ea44f;
  border: 2px solid white;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  white-space: nowrap;
}

.App #button-BFS:hover {
  background-color: #1ae253;
}

.App #button-DFS {
  background-color: #2ea44f;
  border: 2px solid white;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  white-space: nowrap;
  margin-left: 15px;
}

.App #button-DFS:hover {
  background-color: #1ae253;
}

.App #button-refresh {
  background-color: #2ea44f;
  border: 2px solid white;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  white-space: nowrap;
  margin-left: 15px;
}

.App #button-refresh:hover {
  background-color: #1ae253;
}

.App .legend {
  padding-top: 40px;
  vertical-align: middle;
  text-align: center;
}

.App .legend .startNode {
  display: inline-block;
}

.App .legend .targetNode {
  display: inline-block;
  margin-left: 20px;
}

.App .legend .visitedNode {
  display: inline-block;
  margin-left: 20px;
}

.App .legend .shortestPathNode {
  display: inline-block;
  margin-left: 20px;
}

.App .legend .text {
  font-size: 10;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 10px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
}

.App #table tbody #row {
  border: 1px solid black;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.App #table tbody #row .testing {
  border: 1px solid black;
  display: table-cell;
  vertical-align: inherit;
  height: 25px;
  width: 25px;
}

.App #table tbody #row .start-cell {
  border: 1px solid black;
  display: table-cell;
  vertical-align: inherit;
  height: 25px;
  width: 25px;
  background-color: green;
}

.App #table tbody #row .target-cell {
  border: 1px solid black;
  display: table-cell;
  vertical-align: inherit;
  height: 25px;
  width: 25px;
  background-color: red;
}

.visited {
  border: 1px solid black;
  display: table-cell;
  vertical-align: inherit;
  height: 25px;
  width: 25px;
  background-color: blue;
}

.wall {
  border: 1px solid black;
  display: table-cell;
  vertical-align: inherit;
  height: 25px;
  width: 25px;
  background-color: rgb(29, 29, 44);
}

.shortest {
  border: 1px solid black;
  display: table-cell;
  vertical-align: inherit;
  height: 25px;
  width: 25px;
  background-color: yellow;
}
